<?xml version='1.0' encoding='utf-8'?>
<widget id="com.technicalgame.shield" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Shield App</name>
    <description>Security App</description>
    <author email="test@test.com">TechnicalGame</author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="ios">
        <preference name="DisallowOverscroll" value="true" />
    </platform>
</widget>
